*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.pytype
.DS_Store
.idea
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.zip

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env
/venv

*.sublime-project
*.sublime-workspace

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
